body{
    background-color: rgb(105, 117, 101);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(60, 61, 55);
    font-family: Arial, Helvetica, sans-serif;
}

header a{
    color: white;
    text-decoration: none;
}

.navbar a{
    margin-right: 50px;
    text-align: end;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

a{
    color: rgb(6, 6, 6);
    font-style: italic;
}

.foto{
    display: flex;
    gap: 2rem;
    padding: 50px;
    width: 15%;
}

.rev1{
    background-color: white;
    box-shadow: 0 20px 25px rgb(60, 61, 55) ;
    border-radius: 25px;
    padding: 8px 25px;
    margin: 90px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;
}

.rev1 p{
    text-align: left;
}

.rev1 img{
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.rev2{
    background-color: white;
    box-shadow: 0 20px 25px rgb(60, 61, 55) ;
    border-radius: 25px;
    padding: 8px 25px;
    margin: 90px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;
}

.rev2 p{
    text-align: left;
}

.rev2 img{
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.rev3{
    background-color: white;
    box-shadow: 0 20px 25px rgb(60, 61, 55) ;
    border-radius: 25px;
    padding: 8px 25px;
    margin: 90px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;
}

.rev3 p{
    text-align: left;
}

.rev3 img{
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.rev4{
    background-color: white;
    box-shadow: 0 20px 25px rgb(60, 61, 55) ;
    border-radius: 25px;
    padding: 8px 25px;
    margin: 90px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;
}

.rev4 p{
    text-align: left;
}

.rev4 img{
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}
